footer {
    bottom: 0;
    margin-bottom: 0;
    width: 80%;
    padding: 0;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
    float: right;
    font-size: 14px;
    box-shadow: 0px 0px 1px black
}

footer div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

footer div p {
    padding: 0 10px;
}