main {
    display: flex;
    flex-direction: column;
    width:75%;
    float: right;
    margin: 2px;
    flex-wrap: nowrap;
    padding: 0 30px;
}



/* SEÇÃO TÍTULO DO MAIN */
.titulo-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.titulo-main div {
    font-size: 8px;
}
.titulo-main h1 {
    font-size: 16px;
    color: tomato;
    width: 80%;
}

.download {
    width: 20%;
    display: flex;
    padding: 0;
    flex-direction: column;
}
.download div {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}
.download div button {
    padding: 8px 16px;
    margin:2px 6px;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    color: white;
}
.download p {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: tomato;
}

@media (max-width: 720px){
    .titulo-main {
        flex-direction: column;
        align-items: center;
    }
    .titulo-main h1, .download {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
