/* SEÇÃO DE DISCUSSÕES */
.secao-discussoes {
    width: 100%;
    margin: 4px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 1px black;
    font-size: 12px;
    text-align: center;
}
.secao-discussoes h1 {
    background-color: rgb(241, 218, 214);
    padding: 10px 0 10px 10px;
    margin: 0;
    color: rgb(60, 57, 57);
    font-weight: 500;
    text-align: left;
}

.secao-discussoes .div-criar-topicos {
    display: block;
    width: 90%;
    margin: auto auto 10px auto;
    border-bottom: 1px solid black;
}

.secao-discussoes .div-criar-topicos h2 {
    color: tomato;
    display: block;
    margin: 0;
    padding: 10px 0;
}

.secao-discussoes .div-criar-topicos img {
    height: 48px;
    width: 48px;
    margin:auto;
}

.secao-discussoes .div-criar-topicos p{
    padding: 10px 100px;
    margin: 30px 0;
}

.secao-discussoes .div-criar-topicos button {
    background-color: tomato;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    position: absolute;
    margin: -20px -60px;
}

@media (max-width: 712px){
    .secao-discussoes .div-criar-topicos p {
        padding: 0;
    }
}



/* DIV DE PERGUNTAS */
.div-perguntas {
    display: block;
    width: 90%;
    padding: 10px 0;
    border-radius: 2px;
    margin: 20px auto 10px auto;
    box-shadow: 0px 0px 4px black;
    font-size: 12px;
    text-align: left;
}

.div-perguntas h2 {
    color: tomato;
}

.div-perguntas button {
    background-color: tomato;
    border: none;
    color: white;
    border-radius: 2px;
}




/* NOVO TÓPICO */
.novo-topico {
    width: 90%;
    display: block;
    margin: 20px auto 80px;
}

.novo-topico h3 {
    text-align: left;
    color: tomato;
}

.novo-topico input {
    width: 98%;
    display: block;
    padding: 10px;
    margin: 0;
    border-radius: 3px;
}

.novo-topico input:nth-child(5) {
    height: 100px;
}

.novo-topico button {
   float: right;
   padding: 10px 0;
   font-size: 18px;
   border-radius: 3px;
   margin: 0 3px 20px 0;
   width: 20%;
   background-color: tomato;
   border: none;
   color: white;
}





/* ESCONDER UMA DIV */
.esconder-div {
    display: none;
}



/* TÓPICO ENVIADO */
.div-topico-enviado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-topico-enviado h3, p, a, button div {
    margin: 10px 0;
}

.div-topico-enviado h3, a {
   color: tomato;
}

.div-topico-enviado button {
    width: 10%;
    padding: 10px;
    background-color: tomato;
    border: none;
    color: white;
    border-radius: 3px;
}

.div-topico-enviado div {
    background-color: rgb(222, 210, 210);
    width: 100%;
    border-radius: 4px;
    padding: 40px 0;
    margin: 4px 0;
}

@media (max-width: 1580px) {
    .div-topico-enviado button {
        width: 20%;
    }
}

/* ESCONDER UMA DIV */
.esconder-div {
    display: none;
}